
/* body{ */
   /*  display: flex; */
/*     
    background-image: url("../assets/cpuimg.jpg");
background-size: ;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 40;
 
}
 */
/* py-6 px-10 flex items-center fixed top-0 w-full justify-between z-40 */