@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: linear-gradient(-45deg, #0a1d45, #0f2d61, #0a1d45, #0f2d61);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
