@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image:url(https://pa1.aminoapps.com/6548/a1078e78ae08e1d64e067e2d2950ed6103ac02e8_00.gif);
  color: white;
background-size: cover;
}
